*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --text-color: hsl(0, 0%, 5%);
    --text-color-a: hsl(0, 0%, 80%);
    --text-color-a1: hsl(0, 0%, 60%);

    --primary: hsl(124, 20%, 13%);
    --primary-a: hsl(124, 25%, 18%);
    --primary-ah: hsl(124, 25%, 8%);
    --primary-a1: hsl(124, 25%, 5%);
    --background: hsl(124, 10%, 10%);
}

body {
    font-family: 'Roboto', serif;
    background-color: var(--background);
}

a {
    text-decoration: unset;
}

h1 {
    font-size: 6rem;
}
header h1,
header p {
    animation:  tempwidth 1s
}


@keyframes heroAnim {
    0% {
        width: 0px;
        margin-bottom: 1000px;
    }
    100% {
        width: 620px;
        margin-bottom: 4rem;
    }
}

@keyframes tempwidth {
    0% {
        width: 620px
    }
    100% {
        width: 620px
    }
}

body::-webkit-scrollbar {
    animation: bodyscroll 1s
}
@keyframes bodyscroll {
    0% {
        display: none
    }
    100% {
        display: none
    }
}

.btn {
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    color: var(--text-color-a);
    cursor: pointer;
    transition: background 0.15s;
    border-radius: 6px;
    display: flex;
    align-items: center
}

main {
    display: none;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 4rem 0;
    overflow: hidden;
    animation: heroAnim 1s;
}

.project p:nth-of-type(1) {
    line-height: 1.4;
    color: var(--text-color-a);
}

.project p:nth-of-type(n+2) {
    color: var(--text-color-a1);
}

.main-grid__nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: var(--primary-a1);
    margin: 1.3rem;
    gap: 1rem;
    border-radius: 6px
}

 .main-grid {
    display: flex;
    flex-direction: column;
    width: min(100% - 2rem, 1440px);
    gap: 0.6rem;
    position: relative;
}

.project {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--primary-a1);
    transition: background .15s ease-in-out
}

.project section {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.project img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

body.thumbnail-view img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 6px;
}

body.thumbnail-view .main-grid {
    width: min(100% - 2rem, 1440px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    position: relative;
}

.main-grid__nav #list-view {
    display: none
}
body.thumbnail-view #thumbnail-view {
    display: flex;
}
body.thumbnail-view #thumbnail-view {
    display: none
}
body.thumbnail-view #list-view {
    display: flex;
}

body.thumbnail-view .project {
    gap: 0;
    padding: 0;
}


body.thumbnail-view .project section {
    display: flex;
    flex-direction: column;
    width: 100%
}

body.thumbnail-view .project {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--primary-ah);
    border-radius: 6px;
    transition: background .15s ease-in-out;
    border: 0.3rem solid var(--primary-a);
    overflow: hidden;
}

body.thumbnail-view .project section {
    background-color: var(--primary-a1);
    height: 100%;
    padding: 10px 15px;
}
body.thumbnail-view .project .img-holder {
    padding: 15px;
    display: grid;
    place-items: center;
}

body.thumbnail-view .project:hover,
body.list-view .project:hover,
.project:hover,
.main-grid__nav .btn:hover {
    background-color:var(--primary);
}


@media (max-width: 645px) {
    h1 {
        font-size: 3rem
    }

    .main-grid__nav {
        gap: 0
    }

    .main-grid__nav button svg{
        height: 18px;
        width: auto
    }

    .project p {
        font-size: 14px
    }

    @keyframes heroAnim {
        0% {
            width: 0px;
            margin-bottom: 1000px;
        }
        100% {
            width: 315px;
            margin-bottom: 4rem;
        }
    }
}
